@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>test</title>
    <link type="text/css" href="/Content/facebox/facebox.css" rel="Stylesheet" />
</head>
<body>
    <div>
        HELLO,World!
    </div>
</body>
</html>
<script type="text/javascript" src="/Scripts/jquery-1.4.4.min.js"></script>
<script type="text/javascript" src="/Content/facebox/facebox.js"></script>
<script type="text/javascript">
    $(function () {
        $.facebox("HELLO");
    });
</script>